body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 1em;
    background-color: rgb(87, 189, 130);
    transition: all 0.2s ease-in-out;
}

h1 {
    text-align: center;
}


/*input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.custom-file-upload:hover {
    background-color: #4CAF50;
    color: white;
}

#fileName {
    padding-left: 4px;
    display: inline-block;
}

#json-output {
    background: #eee;
    vertical-align: text-bottom;
} */


/*
-----------------------------------------
*/

#after-login {
    display: none;
}

.field-password {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50px;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}

.password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.password-form i {
    padding: 10px;
}

#input-password {
    background: none;
    border: none;
    flex: 1;
    height: 50px;
    width: 50px;
    outline: none;
}

#password-arrow {
    cursor: pointer;
}

th {
    font-weight: normal;
}

#nbForms {
    margin: 2px 12px;
}

@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    30% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}