#timelineCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#formsBoardCanvas {
    position: absolute;
    left: 0;
}

#learningCanvas {
    position: absolute;
}

#scoreCanvas {
    position: absolute;
}

#targetCanvas {
    position: absolute;
}

#nextButton {
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding: 10px 30px;
    /*background: rgb(70, 230, 52);*/
}