#timelineCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#formsBoardCanvas {
    position: absolute;
    left: 0;
}

#learningCanvas {
    position: absolute;
}

#scoreCanvas {
    position: absolute;
}

#targetCanvas {
    position: absolute;
}

#nextButton {
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    padding: 10px 30px;
    font: 1em Ubuntu, sans-serif;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

#nextButton:hover {
    box-shadow: 5px 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}